@charset "UTF-8";
body{
	text-align: center;
		font-size:30px;
		font-family: 'Big Shoulders Display', cursive;
		font-family: 'Kiwi Maru', serif;
	background-color:#dcd1ff
}

div.display_center{
	position:fixed;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
}
table{
	margin: 0 auto;

}
.title{
	font-family: 'Big Shoulders Display', cursive;
	font-size:80px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 30px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-svg {
  font-weight: 700;
  line-height: 54px;

  width: 204px;
  height: 54px;
  padding: 0;

  cursor: pointer;
  text-decoration: none;

  background-color: transparent;
}

a.btn-svg svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

a.btn-svg svg rect {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;

  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 200px, 16px;
  stroke-dashoffset: 70px;
}

a.btn-svg:hover svg rect {
  stroke-dashoffset: 284px;
}

a.btn-svg span {
  color: #000;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border {
  margin-bottom: 9px;
  padding: 0;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border-radius: 0;
}

a.btn-border span {
  position: relative;

  display: block;

  padding: 0.8rem 2rem;

  color: #2943da;
  border: 2px solid #9acaa4;
  border-radius: 0.5rem;
  background: #fff;
}

a.btn-red span {
	color: #fb5c5c; /* 文字の色 */
}
a.btn-gray span {
	color: #8c8989; /* 文字の色 */
}

a.btn-border:before {
  position: absolute;
  bottom: -7px;
  left: 0;

  display: block;

  width: 90%;
  height: 9px;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  border: 2px solid #73967a;
  border-top: 1px solid #000;
  border-radius: 0 0 0.5rem 0.5rem;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #73967a; 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

a.btn-border:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
}

a.btn-border:hover:before {
  bottom: -5px;
}

a.btn-border:active {
  -webkit-transform: translate(0, 7px);
  transform: translate(0, 7px);
}

a.btn-border:active:before {
  bottom: -1px;
}


/***　おしゃれテーブル１　パステルカラー ***/
 
.osare-table {
 width:100%;
 table-layout: fixed;
 border: none !important;
 border-collapse: separate;
 border-spacing: 7px 0px;
}
 
.osare-table th {
 border: none !important;
}
 
.osare-table tbody td {
   border: none !important;
  background-color:#FFF9FF !important;
  border-bottom: solid 2px #f9f9f9 !important;
}
 
/* ヘッダー */
.osare-table thead th {
 font-weight: bold;
 border-radius: 10px 10px 0px 0px;
}

/* フッター（比較表と色つけたとき用） */
.osare-table tfoot td {
 border-radius: 0 0 10px 10px;
}
 
 
/* ボディ項目 */
.osare-table tbody th {
 background:#f2f5fc;
 font-weight: bold;
 border-bottom: solid 2px #f9f9f9 !important;
 line-height:4.5em;
}
 
/* フッター項目 */
.osare-table tfoot th {
 background:none;
 line-height:3em;
 font-weight: bold;
}


 
/* ボディデータ */
.osare-table tbody td {
 text-align:center;
}
 
/* ヘッダー行　１列ごとの色変え */
.osare-table thead th:nth-child(1)  {
 background:#d6cda1;
}

.osare-table thead th:nth-child(2)  {
 background: #f5bfec;
}
.osare-table thead th:nth-child(3)  {
 background: #9ac3a3;
}
.osare-table thead th:nth-child(4)  {
 background: #a5b0f3;
}
 
/* 最終行のボーダーをなくす */
.osare-table tbody tr:last-child th,
.osare-table tbody tr:last-child td {
 border-bottom:none !important;
}

/* スマホ調整 */
@media (max-width: 767px) {
  .osare-table thead th,
  .osare-table tbody th {
      padding:0;
  }
  .osare-table tfoot td {
  padding:0;
  font-size:0.9em;
  }
.osare-table tfoot td:nth-child(2) {
   font-size:1em;
  }
  
}
/***　おしゃれテーブル2　パステルカラー ***/
 
.osare-table2 {
 width:100%;
 table-layout: fixed;
 border: none !important;
 border-collapse: separate;
 border-spacing: 7px 0px;
}
 
.osare-table2 th {
 border: none !important;
}
 
.osare-table2 tbody td {
   border: none !important;
  background-color:#FFF9FF !important;
  border-bottom: solid 2px #f9f9f9 !important;
}
 
/* ヘッダー */
.osare-table2 thead th {
 font-weight: bold;
 border-radius: 10px 10px 0px 0px;
}

/* フッター（比較表と色つけたとき用） */
.osare-table2 tfoot td {
 border-radius: 0 0 10px 10px;
}
 
 
/* ボディ項目 */
.osare-table2 tbody th {
 background:#f2f5fc;
 font-weight: bold;
 border-bottom: solid 2px #f9f9f9 !important;
 line-height:4.5em;
}
 
/* フッター項目 */
.osare-table2 tfoot th {
 background:none;
 line-height:3em;
 font-weight: bold;
}


 
/* ボディデータ */
.osare-table2 tbody td {
 text-align:center;
}
 
/* ヘッダー行　１列ごとの色変え */
.osare-table2 thead th:nth-child(1)  {
 background:#9ac3a3;
}

.osare-table2 thead th:nth-child(2)  {
 background: #f5bfec;
}

 
/* 最終行のボーダーをなくす */
.osare-table tbody tr:last-child th,
.osare-table tbody tr:last-child td {
 border-bottom:none !important;
}

/* スマホ調整 */
@media (max-width: 767px) {
  .osare-table thead th,
  .osare-table tbody th {
      padding:0;
  }
  .osare-table tfoot td {
  padding:0;
  font-size:0.9em;
  }
.osare-table tfoot td:nth-child(2) {
   font-size:1em;
  }
  
}
/*（共通）　項目の多いテーブルの幅を調整*/
@media (max-width: 767px) {
 .col5t th,
 .col5t td{
 font-size:0.5em;
 padding: 10px 0px;
 }
}
.tablewidth{
	width: 120px;
}
#loginback{
	font-size:25px;
	float:right;
}
#logout{
	font-size:25px;
	float:right;
}
#Signup{
	font-size:15px;
}
#todotitle{
	font-family: 'Big Shoulders Display', cursive;
	font-size:35px;
}
.text{
	height:40px;
	font-size:25px;

}
.errmsg{
font-size:20px;
	color: #e44e4e;
}
#textarea{
	border: none;
	resize: none;
	font-size:25px;
  width:400px;
  height:200px;
}
#loginup{
	font-family: 'Big Shoulders Display', cursive;
	font-size:50px;

	position:relative;
	top: 50px
}
#newuser{
	font-family: 'Big Shoulders Display', cursive;
	font-size:50px;
	position:relative;
	top: 10px
}
#img{
	position:relative;
	top: 50px
}
a:hover{
  color : #549049;
}
