<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>追加・編集</title>
<link href="/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
<div class="display_center">
<p class="title" th:if="${code!=null}">Edit</p>
<p class="title" th:if="${code==null}">Add</p>
<form action="/add" method="post" name="form">
<table class="osare-table2 col5t">
<thead>
<tr>
<th>TODO</th>
<th class="tablewidth"><i class="fas fa-download"></i></th>
</tr>
</thead>
<tbody>
<tr>
<!-- <td th:text="${'/add/'+${todo.code}}"></td> -->
<td><textarea name="title" th:text="${title}" id="textarea"></textarea></td>
<td><a href="javascript:form.submit()"class="btn btn-border btn-red"><span>Save⇓</span></a></td>
</tr>
</tbody>
</table>
<input type="hidden" name="code" th:value="${code}">
</form>
 <span th:text="${message}" class="errmsg"></span><br> 
<a href="/back"class="btn btn-border"><span>☜Back</span></a>
</div>
</body>
</html>