<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo一覧</title>
<link href="/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<a href="/logout" id="logout">Log out</a>
<p class="title">TODO List</p>
<!--  <form action="/add">
<input type="submit" value="追加">   ?code='+${todo.code}"
</form>
<a th:href="'/add?'" class="btn btn-border btn-gray"><span>＋</span></a> -->
<table class="osare-table col5t">
<thead>
<tr><th class="tablewidth">✓</th><th class="tablewidth"></th><th id="todotitle">ToDo</th><th class="tablewidth"></th></tr>
</thead>
<tbody>
<tr th:each="todo:${todo}">
	<td th:text="${todo.checked}"></td>
	<td>
		<a th:href="'/check?code='+${todo.code}" class="btn btn-border btn-red"><span>✓</span></a>
	</td>
	<td> <a th:href="'/add/'+${todo.code}"><span th:text="${todo.title}"></span></a></td>
	<td>
		 <a th:href="'/list/'+${todo.code}+'/delete'" class="btn btn-border"><span>Delete</span></a>
	</td>
</tr>
</tbody>
</table>
<a th:href="'/add?'" class="btn btn-border btn-gray"><span>＋</span></a>
</body>
</html>