<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo一覧</title>
</head>
<body>
<a href="/logout">ログアウト</a>
<form action="/add">
<input type="submit" value="追加">
</form>
<table border="1">
<tr><th>✓</th><th></th><th>ToDo</th><th></th></tr>
<tr th:each="todo:${todo}">
	<td></td>
	<td><form action="/check"><input type="submit" value="完了">	</form></td>
	<td> <a th:href="'/add/'+${todo.code}"><span th:text="${todo.title}"></span></a></td>
	<td><input type="submit" value="削除"></td>
</tr>
</table>
</body>
</html>