<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link href="/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="display_center">
<p>
<img src="Free_Sample_By_Wix.jfif" alt="ロゴ" id="img"></p>
	<p id="loginup">Log in</p><br>
	<form action="/login" method="post" name="form">
	ユーザーID <input type="text" name="userId" class="text"><br>
	パスワード    <input type="password" name="password"class="text"><br>
	         <!-- <input type="submit" value="ログイン"> -->
	         <p></p>
	           <span th:text="${message}" class="errmsg"></span><br> 
	         <a href="javascript:form.submit()" class="btn btn-svg">
  <svg>
    <rect x="2" y="2" rx="0" fill="none" width=200 height="50"></rect>
  </svg>
  <span>Login☟</span></a>
	</form>
	
	<a href="/new" id="Signup">アカウント新規作成はこちら</a>
</div>
</body>
</html>